Source: freedos-vbox
Section: misc
Priority: extra
Maintainer: Joachim Breitner <joachim-breitner@itomig.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.2

Package: freedos-vbox
Architecture: all
Depends: ${misc:Depends}, vbox-sync-helper
Description: ${misc:Image} for VirtualBox
 Retrieves the ${misc:Image} image for VirtualBox from the central rsync
 repository and offers you access through the `${misc:Image}' command.
