#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# This file is public domain software, originally written by Joey Hess.
#
# This version is for packages that are architecture independent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE=$(shell dpkg-parsechangelog | sed -ne 's/Source: *\(.*\) *$$/\1/p')
IMAGE=$(shell echo $(PACKAGE) | sed -ne 's/-vbox$$//p')
VERSION=$(shell dpkg-parsechangelog | sed -ne 's/Version: *\(.*\) *$$/\1/p')

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	#$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/<packagename>.
	#$(MAKE) prefix=`pwd`/debian/`dh_listpackages`/usr instal
	echo '#!/bin/sh' > '$(CURDIR)/debian/$(PACKAGE)/usr/bin/$(IMAGE)'
	echo 'vbox-invoke $(IMAGE) $(VERSION)' >> '$(CURDIR)/debian/$(PACKAGE)/usr/bin/$(IMAGE)'
	chmod 0755 '$(CURDIR)/debian/$(PACKAGE)/usr/bin/$(IMAGE)'


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_installdeb
	echo '#!/bin/sh' >> '$(CURDIR)/debian/$(PACKAGE)/DEBIAN/postinst'
	echo 'vbox-sync $(IMAGE) $(VERSION)' >> '$(CURDIR)/debian/$(PACKAGE)/DEBIAN/postinst'
	chmod 0755 '$(CURDIR)/debian/$(PACKAGE)/DEBIAN/postinst'
	echo '#!/bin/bash' >> '$(CURDIR)/debian/$(PACKAGE)/DEBIAN/postrm'
	echo 'if ! [ "$$1" = "remove" -o "$$1" = "purge" ]; then exit 0; fi' >> '$(CURDIR)/debian/$(PACKAGE)/DEBIAN/postrm'
	echo 'vbox-dispose $(IMAGE) $(VERSION)' >> '$(CURDIR)/debian/$(PACKAGE)/DEBIAN/postrm'
	chmod 0755 '$(CURDIR)/debian/$(PACKAGE)/DEBIAN/postrm'
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
