Source: vbox-sync-helper
Section: utils
Priority: extra
Maintainer: Philipp Kern <philipp.kern@itomig.de>
Build-Depends: debhelper (>= 7), python-support (>= 0.6)
Standards-Version: 3.8.0

Package: vbox-sync-helper
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, rsync, parted
Recommends: virtualbox-ose | virtualbox-2.2
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
