Source: vbox-sync-helper
Section: utils
Priority: extra
Maintainer: Joachim Breitner <joachim.breitner@itomig.de>
Build-Depends: debhelper (>= 7), python-support
Standards-Version: 3.8.3

Package: vbox-sync-helper
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, rsync, parted, virtualbox-ose-qt, devscripts, python-debian
Description: provides a method of syncing VirtualBox images from an rsync server
 This program is used by packages that logically contain VitualBox images, but
 need to aquire them from an rsync server. It also contains the helpers to set
 up the VitualBox configuration, so that the system disk is not modifyable by a
 user and shared between the users, and sets up a personal data disk.
