#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION=$(shell dpkg-parsechangelog | sed -ne 's/Version: *\(.*\) *$$/\1/p')

build:

clean: 
	dh_testdir
	dh_testroot
	-rm -rf $(CURDIR)/build/ MANIFEST
	find . -name '*\.py[co]' -delete
	dh_clean 

install:
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs
	python setup.py install \
		--root="$(CURDIR)/debian/vbox-sync-helper" \
		--install-layout=deb
	mv -v "$(CURDIR)/debian/vbox-sync-helper/usr/bin/vbox-sync" \
		"$(CURDIR)/debian/vbox-sync-helper/usr/sbin"
	find "$(CURDIR)/debian/vbox-sync-helper" -name 'vbox.py'
	find "$(CURDIR)/debian/vbox-sync-helper" -name 'vbox.py' | \
		xargs sed -i -e 's,@VERSION@,$(VERSION),g'

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_pysupport
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
