#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION=$(shell dpkg-parsechangelog | sed -ne 's/Version: *\(.*\) *$$/\1/p')

build:

clean: 
	dh_testdir
	dh_testroot
	-rm -rf $(CURDIR)/build/ MANIFEST
	find . -name '*\.py[co]' -delete
	dh_clean 

install:
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# Install the files according to setup.py.  Please note that
	# --install-layout was only introduced in recent versions of
	# Python's distutils.
	python setup.py install \
		--root="$(CURDIR)/debian/vbox-sync-helper" \
		--install-layout=deb

	# vbox-{sync,dispose} are administrative utilities that should
	# not be called by normal users, so move them.
	mv -v "$(CURDIR)/debian/vbox-sync-helper/usr/bin/vbox-sync" \
		"$(CURDIR)/debian/vbox-sync-helper/usr/sbin"
	mv -v "$(CURDIR)/debian/vbox-sync-helper/usr/bin/vbox-dispose" \
		"$(CURDIR)/debian/vbox-sync-helper/usr/sbin"

	# Write the package version into the itomig.vbox module.
	find "$(CURDIR)/debian/vbox-sync-helper" -name 'vbox.py' | \
		xargs sed -i -e 's,@VERSION@,$(VERSION),g'

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
